@import url('https://fonts.googleapis.com/css?family=Special+Elite&display=swap');
:root {
  --text-color: #4E3647;
}

body {
  background: url('./bird-in-snow.jpg') no-repeat center center fixed;
  background: linear-gradient(
    rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
    url('./bird-in-snow.jpg') no-repeat center center fixed;
     ;
  background-size: cover;
  color: var(--text-color);
  font-family: 'Special Elite', 'Courier New', Courier, monospace;
}

.main-container {
  display: grid;
  grid-template-columns: 30% auto 30%;
  grid-template-rows: 25% auto 25%;
  width: 100%;
}

.heading {
  width: 50%;
  float: left;
}

.colors {
  color: #6a4961;
}

h1 {
  font-weight: 600px;
  font-size: 100px;
  top: 100px;
}

i {
  float: left;
  font-size: 48px;
  clear: left;
}

.contact {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: row3-start;
  grid-row-end: 3;
  font-size: 48px;
}
