@import url('https://fonts.googleapis.com/css?family=Special+Elite&display=swap');
:root {
  --text-color: #4E3647;
  --link-color: #5F8A88;
  --link-active: #79565F;
  --extra-color:  #6a4961;
}

/* GLOBAL */
* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  color: var(--text-color);
  font-family: 'Special Elite', 'Courier New', Courier, monospace;
  display: flex;
  height: 100vh;
  flex-direction: column;
}

/* LAYOUT  */
.main-container {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
  padding: 50px;
}

.default-background {
  background: linear-gradient( rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
    url('./bird-in-snow.jpg') no-repeat center center fixed;
  background-size: cover;
}

.about-background {
  background: linear-gradient( rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)),
    url('./cards.jpg') no-repeat center center fixed;
  background-size: cover;
}

.nav {
  list-style-type: none;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  width: 60%;
}

.nav-link {
  display: block;
  flex: 1 1 auto;
  justify-content: flex-start;
  font-size: 24px;
  padding: 0 10px;
}

.content-box {
  /* TODO: delete; for dev only */
  border: 2px solid green;
}

.content-box>p {
  /* TODO: delete; for dev only */
  border: 2px dotted purple;
}

/* ELEMENTS */

h1 {
  font-weight: 600px;
  font-size: 100px;
  top: 100px;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover, a:active {
  color: var(--link-active);
}

i {
  float: left;
  font-size: 48px;
  padding: 0 10px;
}

 /* MEDIA QUERIES */

@media(max-width: 576px) {
  h1 {
    font-size: 48px;
  }
}
@media(max-width: 320px) {
  h1 {
    font-size: 36px;
  }
}
